/** Main */
.container{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100vh;
  width: 100vw;
  font-family: 'Roboto';
  background-color: #1c1c1c;
}

.header{
  width: 100%;
  display: flex;
  justify-content: center;
}

.title{
  color: #FF9933;
  font-weight: 500;
  font-size: 42px;
  font-family: 'Roboto';
}

.main{
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}

.largeIcon{
  width: 40px;
  height: 40px;
}

/** Footer */
.footer{
  display: flex;
  align-items: center;
  justify-content: center;
}

/** Main */
.resultContainer{
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  gap: 20px;
}

.resultLabel{
  padding: 0;
  margin: 0;
  text-align: center;
  font-size: 42px;
  color: #B0B0B0;
  font-weight: 300;
}

.draw{
  height: 25vh;
  padding: 0;
  margin: 0;
  text-align: center;
  color: #484848;
  font-size: 30px;
}

.defeat{
  height: 25vh;
  padding: 0;
  margin: 0;
  text-align: center;
  color: #FF355E;
  font-size: 30px;
}

.success{
  height: 25vh;
  padding: 0;
  margin: 0;
  text-align: center;
  color: #66FF66;
  font-size: 30px;
}

.actions{
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.scene{
  width:100vw;
  height:100vh;
}

.canvas{
  background: #000;
}